/* Overlay behind drawer */
.drawer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: flex-end;
  z-index: 999;
}

/* Drawer itself */
.drawer {
  width: 350px;
  height: 100%;
  background: #4e1037;
  padding: 20px;
  box-shadow: -3px 0px 10px rgba(0,0,0,0.2);
  animation: slideIn 0.3s ease;
  overflow-y: auto;
}

/* Slide animation */
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Close button */
.close-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* Header */
.drawer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

/* Sections */
.patient-section {
  margin-bottom: 20px;
}

.patient-section h3 {
  margin-bottom: 5px;
  color: #444;
}

/* Notes box */
.notes-box {
  width: 100%;
  height: 100px;
  padding: 10px;
  resize: none;
  border: 1px solid #7d2f2f;
  border-radius: 5px;
}

/* Complete Button */
.complete-btn {
  width: 100%;
  background: #1e90ff;
  color: rgb(69, 76, 173);
  padding: 12px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 16px;
}
